<p> Recent posts: </p>
<% @feed_items.each do |post| %>
  <%= render post %>
  <% unless (post.likes.map {|l| l.user_id}).include?(current_user.id) %>
    <%= render 'shared/like_button', object: post %>
  <% else %>
  	<%= render 'shared/unlike_button', object: post %>
  <% end %>
  <% if post.comments.exists? %>
    <P>Comments: <%= render post.comments %>
  <% end %>
  <%= render 'shared/comment_form', object: post %>
<% end %>